<div class="white-box admin-left-menu h-100">
  <div class="row">
    <div class="col-12">
      <ul class="nav flex-column">
        <li class="nav-item" ng-class="{'active': admin_view_opt == 0}" ng-click="changeAdminMenuOpt(0)">
          <a class="nav-link" href="javascript:void(0)" >
            Movie 
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
        <li class="nav-item" ng-class="{'active': admin_view_opt == 1}" ng-click="changeAdminMenuOpt(1)">
          <a class="nav-link" href="javascript:void(0)" >
            Users 
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>