<div class="white-box admin-left-menu" left-menu-directive>
  <div class="row">
    <div class="col-12">
      <ul class="nav flex-column">
        <li ng-repeat="list in left_menu_arr" class="nav-item" ng-class="{'active': admin_view_opt == list}" ng-click="changeAdminMenuOpt(list)">
          <a class="nav-link" href="javascript:void(0)" ui-sref="admin.{{list}}">
            {{list}} 
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>