body,html{
  height: 100%;
  width: 100%;
  background: #FFF;
  /*background: #EEF2F5;*/
  font-family: 'Helvetica Light' !important;
  color: #444 !important;
  font-size: 14px;
  overflow: hidden;
}

.main-body-container{
  width: 100%;
  /*width: 82%;*/
  float: left;
  transition: all .5s ease-in-out;
}

.main-body-container.move{
  width: 82%;
  transition: all .5s ease-in-out;
}

.main-content-container{
  height: 100vh;
  overflow-y: auto;
  /*padding-bottom: 100px;*/
}

.img-wrapper img{
  width: 100%;
}


/*---------- NAV TOP --------------*/

  .main-body-container .main-top-nav{
    background-color: #344861;
    height: 50px;
    padding: 0;
    z-index: 99;
  }

  .main-top-nav .navbar-brand{
    margin: 0;
    font-weight: 700;
    padding: 14px 20px !important;
    color: #fff !important;
  }

/*-----------------------------*/


/*------------- AUTH -------------------*/
  .signup-container,
  .login-container{
    width: 500px;
    margin: 50px auto;
  }

  .auth-content .white-box{
    padding: 30px 50px; 
  }

  .auth-content .white-box .img-wrapper{
    width: 100px;
    height: 100px;
    margin: 0 auto 30px auto;
  }

  .auth-content .white-box .img-wrapper img{
    border-radius: 50%;
  }

  .auth-content .white-box .form-group input{
    margin-top: 5px;
    border-radius: 2px;
    border-color: #e1e1e1;
  }

  .auth-content .white-box .submit-btn{
    background-color: #5892d2;
    border: none;
    padding: 10px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 700;
    width: 200px;
  }

  .text-hover-underline:hover{
    text-decoration: underline;
  }

/*------------------------------------*/


/*-------------- ADMIN -------------*/

  .admin-container{

  }

  .admin-container button{
    width: 100px;
    font-weight: 700;
    color: #555;
    background: transparent;
    border: 2px solid #ccc;
  }

  .admin-container .admin-left-menu{
    border-right: 1px solid #ddd;
    min-height: unset;
    height: 100vh;
    background-color: #344861;
  }

  .admin-container .admin-left-menu li a{
    padding: 15px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #FFF;
    /*color: #444;*/
  }

  .admin-container .admin-left-menu li a i{
    float: right;
    margin-top: 4px;
  }

  .admin-container .admin-left-menu li.active a{
    color: #FFF;
    background-color: #327eaf;
  }

  
  

/*-------------------------------------*/

/*-------------- PAGES -------------*/

  #pages-container{
    padding: 60px 20px 20px 20px;
    min-height: unset;
    height: 100vh;
    margin-top: -50px;
    overflow-y: auto;
  }

  .pages-list-container{
    
  }

  .pages-list-container table{
    padding-top: 10px;
  }

  .pages-list-container table thead tr th{
    border-top: none;
  }

  .pages-list-container table tr th,
  .pages-list-container table tr td{
    vertical-align: middle;
    font-weight: 700;
  }

  .pages-list-container table tr td{
    font-size: 12px;
  }

  .pages-list-container table tr th .form-check-input,
  .pages-list-container table tr td .form-check-input{
    width: 18px;
    height: 18px;
    position: relative;
    top: 3px;
  }

  /* ADD */
  .add-page-container{

  }

  .add-page-container label{
    font-weight: 700;
  }

  .text-editor-toolbar{
    margin-bottom: 10px;
  }

  .text-editor-toolbar button{
    width: 35px;
    height: 35px;
    padding: 3px;
    font-size: 14px;
  } 

  .add-page-container .btn-delete{
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
    float: right;
    font-size: 12px;
    padding: 4px;
    width: 80px;
  }

  .add-page-container .page-banner-container{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

  .add-page-container .page-banner-container .page-banner-bg-image{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .add-page-container .page-banner-container .page-banner-content{
    z-index: 5;
    position: relative;
    text-align: center;
  }

  .add-page-container .page-section-container{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .add-page-container .page-section-container .page-section-bg-image{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .add-page-container .page-section-container .page-section-content{
    z-index: 5;
    position: relative;
    text-align: center;
  }

  /* EDIT */

  .publish-container .btn-preview{
    float: right;
    font-size: 12px;
    padding: 4px;
    width: 80px;
  }

  .publish-container .form-section-drops .section-drop .btn-remove-drop{
    display: inline-block;
    width: 33px;
    padding: 0 !important;
    height: 33px;
    border: 1px solid #ced4da;
    border-radius: 0 4px 4px 0;
  }

  .publish-container .form-section-drops .section-drop select,
  .publish-container .form-section-drops .section-drop select:focus{
    margin: 5px 0 5px 8px;
    width: 78%;
    border-color: #ced4da;
    box-shadow: none;
    border-radius: 4px 0 0 4px;
    border-right: none;
  }

/*-------------- BANNERS -------------*/

  #banners-container{
    padding: 60px 20px 20px 20px;
    min-height: unset;
    height: 100vh;
    margin-top: -50px;
    overflow-y: auto;
  }

  .banners-list-container{
    
  }

  .banners-list-container table{
    padding-top: 10px;
  }

  .banners-list-container table thead tr th{
    border-top: none;
  }

  .banners-list-container table tr th,
  .banners-list-container table tr td{
    vertical-align: middle;
    font-weight: 700;
  }

  .banners-list-container table tr td{
    font-size: 12px;
  }

  .banners-list-container table tr th .form-check-input,
  .banners-list-container table tr td .form-check-input{
    width: 18px;
    height: 18px;
    position: relative;
    top: 3px;
  }

  /* ADD */
  .add-banner-container{

  }

  .add-banner-container label{
    font-weight: 700;
  }

  .text-editor-toolbar{
    margin-bottom: 10px;
  }

  .text-editor-toolbar button{
    width: 35px;
    height: 35px;
    padding: 3px;
    font-size: 14px;
  } 

  .add-banner-container .btn-delete{
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
    float: right;
    font-size: 12px;
    padding: 4px;
    width: 80px;
  }

  .add-banner-container .preview-banner-container{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border: 1px solid #e1e1e1;
  }

  .add-banner-container .preview-banner-container .preview-banner-bg-image{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .add-banner-container .preview-banner-container .preview-banner-content{
    z-index: 5;
    position: relative;
    text-align: center;
  }

  /* EDIT */

  .publish-container .btn-preview{
    float: right;
    font-size: 12px;
    padding: 4px;
    width: 80px;
  }


/*-------------- SECTIONS -------------*/

  #sections-container{
    padding: 60px 20px 20px 20px;
    min-height: unset;
    height: 100vh;
    margin-top: -50px;
    overflow-y: auto;
  }

  .sections-list-container{
    
  }

  .sections-list-container table{
    padding-top: 10px;
  }

  .sections-list-container table thead tr th{
    border-top: none;
  }

  .sections-list-container table tr th,
  .sections-list-container table tr td{
    vertical-align: middle;
    font-weight: 700;
  }

  .sections-list-container table tr td{
    font-size: 12px;
  }

  .sections-list-container table tr th .form-check-input,
  .sections-list-container table tr td .form-check-input{
    width: 18px;
    height: 18px;
    position: relative;
    top: 3px;
  }

  /* ADD */
  .add-section-container{

  }

  .add-section-container label{
    font-weight: 700;
  }

  .text-editor-toolbar{
    margin-bottom: 10px;
  }

  .text-editor-toolbar button{
    width: 35px;
    height: 35px;
    padding: 3px;
    font-size: 14px;
  } 

  .add-section-container .btn-delete{
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
    float: right;
    font-size: 12px;
    padding: 4px;
    width: 80px;
  }

  .add-section-container .preview-section-container{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border: 1px solid #e1e1e1;
  }

  .add-section-container .preview-section-container .preview-section-bg-image{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .add-section-container .preview-section-container .preview-section-content{
    z-index: 5;
    position: relative;
    text-align: center;
  }

  /* EDIT */

  .publish-container .btn-preview{
    float: right;
    font-size: 12px;
    padding: 4px;
    width: 80px;
  }


  


/*------------OVERRIDES----------------*/
  .ta-editor.ta-html, 
  .ta-scroll-window.form-control,
  .ta-scroll-window > .ta-bind{
    min-height: 70px;
  }

  input:focus,
  button:focus {
    box-shadow: none !important;
  }


  ::placeholder { 
    color: #777 !important;
    font-size: 13px;
    opacity: .5; 
  }

  #pages-container::-webkit-scrollbar
  {
      width: 5px;
      /*background-color: #000;*/
  }


  *::-webkit-scrollbar-track
  {
      /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
      background-color: #eee;
  }

  *::-webkit-scrollbar
  {
      width: 3px;
      /*background-color: #000;*/
  }

  *::-webkit-scrollbar-thumb
  {
      background-color: #ccc;
      
      /*background-image: -webkit-gradient(linear, 0 0, 0 100%,*/
                         /*color-stop(.5, rgba(255, 255, 255, .2)),*/
                         /*color-stop(.5, transparent), to(transparent));*/
  }