<footer>
	<!-- <div class="container"> -->
		<div class="footer-container">
			<div class="row">
				<div class="col-4"></div>
			</div>

			<div class="row">
				<div class="col-12">
					<ul class="nav navbar-nav footer-nav">
						<li><a href="#content-one">Home</a></li>
						<li><a href="#content-two">About</a></li>
		        <li><a href="#content-three">Contact us</a></li>
					</ul>
				</div>

				<div class="col-12">
					<div class="copyright">
						<p class="text-center">
							Copyright &copy; 2017 Lazypro. All rights reserved.
						</p>
					</div>
				</div>
			</div>
		</div>
	<!-- </div> -->
</footer>